{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Publicaciones</title>
    </head>
    <section class="flex justify-center">
        <div class="w-3/4 h-auto mt-12 p-4 flex flex-col items-center bg-[#fedd6a] rounded-lg drop-shadow-xlg">
            <h2 class="text-2xl font-bold my-2">Estas son mis publicaciones. Puedes agregar más 😉</h2>
            {% for post in posts %}
            <a href="{% url 'blog:detail' post.id %}" class="my-1 italic">{{post.title}}</a>
            {% endfor %}
            <button class="my-2 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-[#1e415e] hover:bg-indigo-700"><a href="{% url 'blog:create-post' %}">Agregrar una nueva publicación</a></button>
        </div>
    </section>
    </html>
{% endblock content %}